## @section Common parameters
##

## @param nameOverride String to partially override common.names.fullname template (will maintain the release name)
##
nameOverride: ""
## @param fullnameOverride String to fully override common.names.fullname template
##
fullnameOverride: ""

## @section Drill image parameters
##

## Drill image
## ref: https://hub.docker.com/r/apache/drill
## @param image.registry Drill image registry
## @param image.repository Drill image repository
## @param image.tag Drill image tag (immutable tags are recommended)
##
image:
  registry: ""
  repository: apache/drill
  tag: ""
  ## @param image.pullPolicy Drill image pull policy
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent
  ## @param image.pullSecrets Drill image pull secrets
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ## e.g:
  ## pullSecrets:
  ##   - myRegistryKeySecretName
  ##
  pullSecrets: [ ]

## @section Drill deployment parameters
##

## @param replicaCount Number of Drill replicas to deploy
## NOTE: ReadWriteMany PVC(s) are required if replicaCount > 1
##
replicaCount: 1

## Configure extra options for Drill containers' startup probe
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
## @param startupProbe.initialDelaySeconds Initial delay seconds for livenessProbe
## @param startupProbe.periodSeconds Period seconds for livenessProbe
## @param startupProbe.timeoutSeconds Timeout seconds for livenessProbe
## @param startupProbe.failureThreshold Failure threshold for livenessProbe
## @param startupProbe.successThreshold Success threshold for livenessProbe
##
startupProbe:
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 6
  successThreshold: 1

## @param readinessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
## @param readinessProbe.periodSeconds Period seconds for livenessProbe
## @param readinessProbe.timeoutSeconds Timeout seconds for livenessProbe
## @param readinessProbe.failureThreshold Failure threshold for livenessProbe
## @param readinessProbe.successThreshold Success threshold for livenessProbe
##
readinessProbe:
  initialDelaySeconds: 0
  periodSeconds: 5
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1

## @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
## @param livenessProbe.periodSeconds Period seconds for livenessProbe
## @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
## @param livenessProbe.failureThreshold Failure threshold for livenessProbe
## @param livenessProbe.successThreshold Success threshold for livenessProbe
##
livenessProbe:
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 6
  successThreshold: 1

## Drill container's resource requests and limits
## ref: https://kubernetes.io/docs/user-guide/compute-resources/
## @param resources [object] Set the resources for the Drill containers
## @param resources.limits [string] The resources limits for the Drill containers
## @param resources.requests.memory [string] The requested memory for the Drill containers
## @param resources.requests.cpu [string] The requested cpu for the Drill containers
## e.g.:
## resources
##   limits:
##     cpu: 2000m
##     memory: 4200M
##   requests:
##     cpu: 2000m
##     memory: 4200M
##
resources: { }

## @skip autoscaling
##
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

## @param terminationGracePeriodSeconds Number of seconds after which pods are forcefully killed
## @extra terminationGracePeriodSeconds Note: Lower values may cause running queries to fail
terminationGracePeriodSeconds: 25

## @param nodeSelector Node labels for pod assignment
## ref: https://kubernetes.io/docs/user-guide/node-selection/
##
nodeSelector: { }

## @param tolerations Set tolerations for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: [ ]

## @param affinity Set affinity for pod assignment
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
## NOTE: podAffinityPreset, podAntiAffinityPreset, and nodeAffinityPreset will be ignored when it's set
##
affinity: { }

## @param timeZone used for database connection and log timestamps
##
timeZone: Etc/UTC

## @section Traffic Exposure Parameters
##

## Drill service parameters
##
service:
  ## Drill Web UI
  ## @param service.web.type Drill Web service type
  ## @param service.web.port Drill Web service port
  ##
  web:
    type: ClusterIP
    port: 80
  ## Drill User Api for external client, such as Tableau, to connect into the cluster nodes.
  ## @param service.user.type Drill User Api service type
  ## @param service.user.port Drill User Api service port
  ##
  user:
    type: ClusterIP
    port: 31010

## Configure the ingress resource that allows you to access the Drill Web UI
## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/
##
ingress:
  ## @param ingress.enabled Enable ingress record generation for Drill
  ##
  enabled: false
  ## @param ingress.className IngressClass that will be used to implement the Ingress (Kubernetes 1.18+)
  ## This is supported in Kubernetes 1.18+ and required if you have more than one IngressClass marked as the default for your cluster .
  ## ref: https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/
  ##
  className: ""
  ## @param ingress.annotations Additional annotations for the Ingress resource. To enable certificate auto-generation, place here your cert-manager annotations.
  ## For a full list of possible ingress annotations, please see
  ## ref: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md
  ## Use this parameter to set the required annotations for cert-manager, see
  ## ref: https://cert-manager.io/docs/usage/ingress/#supported-annotations
  ## e.g:
  ## annotations:
  ##   kubernetes.io/ingress.class: nginx
  ##   kubernetes.io/tls-acme: 'true'
  ##
  annotations: { }
  ## @param ingress.hosts [array] Set hosts for ingress
  ## @param ingress.hosts.host [string] Set hostname
  ## @param ingress.hosts.paths [array] Set multiple paths
  ## @param ingress.hosts.paths.path [string] Set path (context url)
  ## @param ingress.hosts.paths.pathType [string] Set type of path
  ##
  hosts:
    - host: drill.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  ## @param ingress.tls [array] Define tls secrets for hosts (implementation not done yet)
  ## e.g.
  ## tls:
  ##   - secretName: chart-example-tls
  ##     hosts:
  ##       - chart-example.local
  ##
  tls: [ ]

## @section Other Parameters
##

## Drill Service Account
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
##
serviceAccount:
  ## @param serviceAccount.create Enable creation of ServiceAccount for Drill pod
  ##
  create: true
  ## @param serviceAccount.annotations Additional custom annotations for the ServiceAccount
  ##
  annotations: { }
  ## @param serviceAccount.name The name of the ServiceAccount to use.
  ## If not set and create is true, a name is generated using the ff-common.fullname template
  ##
  name: ""

## @param podAnnotations Annotations for Drill pods
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: { }

## @param podLabels Extra labels for Drill pods
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
##
podLabels: { }

## Configure Pods Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
## @param podSecurityContext [object] Set Drill pod's Security Context
##
podSecurityContext: { }

## Configure Container Security Context (only main container)
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
## @param securityContext [object] Set Drill container's Security Context
## e.g.
## securityContext: {}
##  capabilities:
##    drop:
##      - ALL
##  readOnlyRootFilesystem: true
##  runAsNonRoot: true
##  runAsUser: 1000
##
securityContext: { }

## @section Drill configuration
## @descriptionStart
## Configuring Drill can be done with override files or in the web ui, although some properties can only be set in the override file.
## When using the web ui, ZooKeeper will be used to store the values. Make sure that the storage of ZooKeeper is persistent if you intend to configure this way.
##
## This is an example where the web ui and authentication for local (plain) users is enabled.
##
## ```hocon
## drill.exec: {
##   http.enabled: true,
##   impersonation: {
##     enabled: true,
##     max_chained_user_hops: 3
##   },
##   security: {
##     auth.mechanisms: ["PLAIN"]
##   },
##   security.user.auth: {
##     enabled: true,
##     packages += "org.apache.drill.exec.rpc.user.security",
##     impl: "pam4j",
##     pam_profiles: [ "sudo", "login" ]
##   }
## }
## ```
##
## For more options refer to the [Apache Drill documentation](https://drill.apache.org/docs/configuration-options-introduction/).
## @descriptionEnd
##
drill:
  ## @param drill.drivers [array] JDBC Drivers can be configured to download here. This can be used if the Docker image doesn't contain the correct drivers
  ## @param drill.drivers.name [string] The name of the driver, will be used as filename (with `.jar` appended) and as name for initContainer
  ## @param drill.drivers.url [string] The URL to download the driver from
  ## @param drill.drivers.noCheckCertificate [nullable, string] Skip certificate check
  ##
  drivers: [ ]
  overrideConfiguration:
    ## @param drill.overrideConfiguration.existingConfigMap The name of the configmap, containing configuration files to override
    ##
    existingConfigMap: ""
    ## @skip drill.overrideConfiguration.drill
    ## @extra drill.overrideConfiguration.drill Multiline value for drill-override.conf
    ##
    drill: >-
      drill.exec: {
        http.enabled: true,
      }
    ## @param drill.overrideConfiguration.drillMetastore Multiline value for drill-metastore-override.conf
    ##
    drillMetastore: ""
    ## @param drill.overrideConfiguration.drillOnYarn Multiline value for drill-on-yarn-override.conf
    ##
    drillOnYarn: ""
    ## @param drill.overrideConfiguration.drillSqlLine Multiline value for drill-sqlline-override.conf
    ##
    drillSqlLine: ""
    ## @param drill.overrideConfiguration.storagePlugins Multiline value for storage-plugins-override.conf Can also be configured in the Web UI and saved by persistent ZooKeeper
    ## Ref: https://drill.apache.org/docs/plugin-configuration-basics/
    ##
    storagePlugins: ""
  authentication:
    ## @param drill.authentication.existingSecret Name of the secret containing a passwd file
    ##
    existingSecret: ""
    ## @param drill.authentication.users [array] Users to create on the system
    ## @param drill.authentication.users.name [string] Username for the user
    ## @param drill.authentication.users.password [string] Password for the user
    ## @param drill.authentication.users.admin [nullable, string] Configures if the user should be admin
    ## e.g.
    ## users:
    ##   - name: user
    ##     password: changeit
    ##   - name: admin
    ##     admin: true
    ##     password: changeit
    ##
    users: [ ]

## @section Persistence
## @descriptionStart
## Persistence is used for logging and for JDBC drivers. These can be configured separately.
##
## Configuration for Drill will be saved in ZooKeeper.
## Make sure that ZooKeeper is persistent if you want to keep changes in the Web UI.
## @descriptionEnd
##
persistence:
  ## @param persistence.enabled Enable persistence using Persistent Volume Claims
  ##
  enabled: false
  ## @param persistence.storageClass Persistent Volume storage class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is set, choosing the default provisioner
  ##
  storageClass: ""
  ## @param persistence.accessModes [array] Persistent Volume access modes
  ##
  accessModes:
    - ReadWriteOnce
  ## @param persistence.size Persistent Volume size
  ##
  size: 2Gi
  ## @param persistence.dataSource Custom PVC data source
  ##
  dataSource: { }
  ## @param persistence.existingClaim The name of an existing PVC to use for persistence
  ##
  existingClaim: ""
  ## @param persistence.selector Selector to match an existing Persistent Volume for Drill's data PVC
  ## If set, the PVC can't have a PV dynamically provisioned for it
  ## E.g.
  ## selector:
  ##   matchLabels:
  ##     app: my-app
  ##
  selector: { }
  ## @param persistence.annotations Persistent Volume Claim annotations
  ## You might need to add an annotation for selected node:
  ## E.g: volume.kubernetes.io/selected-node: nodeName
  ## Ref: https://kubernetes.io/docs/reference/labels-annotations-taints/#volume-kubernetes-io-selected-node
  ##
  annotations: { }
  ## Persistence for a dedicated data log directory
  ##
  dataLogDir:
    ## @param persistence.dataLogDir.size PVC Storage Request for Drill's dedicated data log directory
    ##
    size: 2Gi
    ## @param persistence.dataLogDir.existingClaim The name of an existing PVC to use for persistence
    ##
    existingClaim: ""
    ## @param persistence.dataLogDir.selector Selector to match an existing Persistent Volume for Drill's data log PVC
    ## If set, the PVC can't have a PV dynamically provisioned for it
    ## E.g.
    ## selector:
    ##   matchLabels:
    ##     app: my-app
    ##
    selector: { }
