{{- template "ff-common.deployment" (list . "zaakbrug.deployment") -}}
{{- define "zaakbrug.deployment" -}}
spec:
  template:
    metadata:
      annotations:
        checksum/configmap.api-proxy: {{ include (print $.Template.BasePath "/configmap.api-proxy.yaml") . | sha256sum }}
        checksum/configmap.env: {{ include (print $.Template.BasePath "/configmap.zaakbrug.env.yaml") . | sha256sum }}
        checksum/configmap.globals: {{ include (print $.Template.BasePath "/configmap.zaakbrug.globals.yaml") . | sha256sum }}
        checksum/configmap.profiles: {{ include (print $.Template.BasePath "/configmap.zaakbrug.profiles.yaml") . | sha256sum }}
        checksum/configmap.profiles: {{ include (print $.Template.BasePath "/configmap.zaakbrug.routing-profiles.yaml") . | sha256sum }}
        checksum/configmap.profiles: {{ include (print $.Template.BasePath "/configmap.zaakbrug.routing-profile-defaults.yaml") . | sha256sum }}
        checksum/configmap.specifics: {{ include (print $.Template.BasePath "/configmap.zaakbrug.specifics.yaml") . | sha256sum }}
    spec:
      containers:
        -
          {{ include "ff-common.container" (list . "zaakbrug.deployment.container") | nindent 10}}
      volumes:
        {{- if .Values.securityContext.readOnlyRootFilesystem }}
        - name: tmpfs
          emptyDir: { }
        {{- end }}
        {{- if .Values.frank.credentials.secret }}
        - name: {{ template "ff-common.fullname" . }}-credentials
          secret:
            secretName: {{ .Values.frank.credentials.secret }}
        {{- end }}
        {{- if (or .Values.frank.security.http.localUsers .Values.frank.security.http.localUsersExistingSecret) }}
        - name: {{ template "ff-common.fullname" . }}-tomcat-users
          {{- if .Values.frank.security.http.localUsersExistingSecret }}
          secret:
            secretName: {{ tpl .Values.frank.security.http.localUsersExistingSecret . }}
          {{- else }}
          configMap:
            name: {{ template "ff-common.fullname" . }}-tomcat-users
          {{- end }}
        {{- end }}
        {{- if .Values.connections.create }}
        - name: {{ template "ff-common.fullname" . }}-context
          configMap:
            name: {{ template "ff-common.fullname" . }}-context
        {{- end }}
        {{- if .Values.frank.security.http.activeDirectory.enabled }}
        - name: {{ template "ff-common.fullname" . }}-ldap-role-mapping
          configMap:
            name: {{ template "ff-common.fullname" . }}-ldap-role-mapping
        {{- end }}
        {{- if .Values.zaakbrug.globals }}
        - name: {{ template "ff-common.fullname" . }}-globals
          configMap:
            name: {{ template "ff-common.fullname" . }}-globals
        {{- end }}
        {{- if .Values.zaakbrug.profiles }}
        - name: {{ template "ff-common.fullname" . }}-profiles
          configMap:
            name: {{ template "ff-common.fullname" . }}-profiles
        {{- end -}}
        {{- if .Values.zaakbrug.routing.profileDefaults }}
        - name: {{ template "ff-common.fullname" . }}-routing-profile-defaults
          configMap:
            name: {{ template "ff-common.fullname" . }}-routing-profile-defaults
        {{- if .Values.zaakbrug.routing.profiles }}
        - name: {{ template "ff-common.fullname" . }}-routing-profiles
          configMap:
            name: {{ template "ff-common.fullname" . }}-routing-profiles
        {{- end -}}
        {{- if .Values.persistence.enabled }}
        - name: {{ template "ff-common.fullname" . }}-data
          persistentVolumeClaim:
            claimName: {{ template "ff-common.fullname" . }}-data
        {{- end }}
        {{- range $i, $e := .Values.frank.security.certificateStores }}
        - name: {{ template "ff-common.fullname" $ }}-certificate-store-{{ $i }}
          secret:
            secretName: {{ $e.secretName }}
            items:
              - key: {{ $e.key }}
                path: {{ $e.key }}
            defaultMode: 0664
        {{- end }}
{{- end -}}
{{- define "zaakbrug.deployment.container" -}}
envFrom:
  - configMapRef:
      name: {{ template "ff-common.fullname" . }}-env
  - configMapRef:
      name: {{ template "ff-common.fullname" . }}-specifics
volumeMounts:
  {{- if .Values.securityContext.readOnlyRootFilesystem }}
  - mountPath: /usr/local/tomcat/logs
    name: tmpfs
  - mountPath: /usr/local/tomcat/conf/Catalina
    name: tmpfs
  - mountPath: /usr/local/tomcat/work/Catalina/localhost
    name: tmpfs
  - mountPath: /usr/local/tomcat/temp
    name: tmpfs
  {{- end }}
  {{- if (or .Values.frank.security.http.localUsers .Values.frank.security.http.localUsersExistingSecret) }}
  - name: {{ template "ff-common.fullname" . }}-tomcat-users
    mountPath: /usr/local/tomcat/conf/tomcat-users.xml
    subPath: tomcat-users.xml
    readOnly: true
  - name: {{ template "ff-common.fullname" . }}-tomcat-users
    mountPath: /opt/frank/resources/localUsers.yml
    subPath: localUsers.yml
    readOnly: true
  {{- end }}
  {{- if .Values.frank.security.http.activeDirectory.enabled }}
  - name: {{ template "ff-common.fullname" . }}-ldap-role-mapping
    mountPath: /usr/local/tomcat/webapps/ROOT/WEB-INF/classes/ldap-role-mapping.properties
    subPath: ldap-role-mapping.properties
    readOnly: true
  {{- end }}
  {{- if .Values.frank.credentials.secret }}
  - name: {{ template "ff-common.fullname" . }}-credentials
    mountPath: /opt/frank/secrets/
    readOnly: true
  {{- end }}
  {{- if .Values.connections.create }}
  - name: {{ template "ff-common.fullname" . }}-context
    mountPath: /usr/local/tomcat/conf/Catalina/localhost/ROOT.xml
    subPath: context.xml
    readOnly: true
  {{- end }}
  {{- if .Values.zaakbrug.globals }}
  - name: {{ template "ff-common.fullname" . }}-globals
    mountPath: /opt/frank/configurations/Translate/Globals.json
    subPath: Globals.json
    readOnly: true
  {{- end }}
  {{- if .Values.zaakbrug.profiles }}
  - name: {{ template "ff-common.fullname" . }}-profiles
    mountPath: /opt/frank/configurations/Translate/Profiles.json
    subPath: Profiles.json
    readOnly: true
  {{- end }}
  {{- if .Values.zaakbrug.routing.profileDefaults }}
  - name: {{ template "ff-common.fullname" . }}-routing-profile-defaults
    mountPath: /opt/frank/resources/RoutingProfileDefaults.json
    subPath: RoutingProfileDefaults.json
    readOnly: true
  {{- if .Values.zaakbrug.routing.profiles }}
  - name: {{ template "ff-common.fullname" . }}-routing-profiles
    mountPath: /opt/frank/resources/RoutingProfiles.json
    subPath: RoutingProfiles.json
    readOnly: true
  {{- end }}
  {{- if .Values.persistence.enabled }}
  - name: {{ template "ff-common.fullname" . }}-data
    subPath: heap-dumps
    mountPath: /heap-dumps
  {{- end }}
  {{- range $i, $e := .Values.frank.security.certificateStores }}
  - name: {{ template "ff-common.fullname" $ }}-certificate-store-{{ $i }}
    mountPath: /opt/frank/resources/{{ $e.resourceUrl | default $e.key }}
    subPath: {{ $e.key }}
    readOnly: true
  {{- end }}
{{- end -}}