{{/*
ConfigMap for generating drill-override.conf and logback.xml files
*/}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "drill.fullname" . }}-override
  labels:
    {{- include "drill.labels" . | nindent 4 }}
data:
  drill-override.conf: |-
    drill.exec: {
      cluster-id: "{{ include "drill.fullname" . }}",
      zk.connect: "{{ include "zookeeper.fullname" . }}:2181",
      http.port: 8047
    }
    {{- toString .Values.drill.overrideConfiguration.drill | nindent 4 }}
  {{- with .Values.drill.overrideConfiguration.drillMetastore }}
  drill-metastore-override.conf: |-
    {{- toString . | nindent 4 }}
  {{- end }}
  {{- with .Values.drill.overrideConfiguration.drillOnYarn}}
  drill-on-yarn.conf: |-
    {{- toString . | nindent 4 }}
  {{- end }}
  {{- with .Values.drill.overrideConfiguration.drillSqlLine }}
  drill-sqlline-override.conf: |-
    {{- toString . | nindent 4 }}
  {{- end }}
  {{- with .Values.drill.overrideConfiguration.storagePlugins }}
  storage-plugins-override.conf: |-
    {{- toString . | nindent 4 }}
  {{- end }}
  logback.xml: |-
    <configuration>
      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>{{ .Values.drill.overrideLogging.filePath | default "/var/lib/drill/log/drill.log" }}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>{{ .Values.drill.overrideLogging.fileNamePattern | default "/var/lib/drill/log/drill.%i.log" }}</fileNamePattern>
            <minIndex>{{ .Values.drill.overrideLogging.minIndex | default 1 }}</minIndex>
            <maxIndex>{{ .Values.drill.overrideLogging.maxIndex | default 9 }}</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>{{ .Values.drill.overrideLogging.maxFileSize | default "10MB" }}</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>{{ .Values.drill.overrideLogging.pattern | default "%date [%thread] %-5level %logger{35} - %msg%n" }}</pattern>
        </encoder>
      </appender>

      <root level="{{ .Values.drill.overrideLogging.rootLevel | default "debug" }}">
          <appender-ref ref="FILE"/>
      </root>

      {{- range .Values.drill.overrideLogging.loggers }}
      <logger name="{{ .name }}" level="{{ .level | default "trace" }}"/>
      {{- end }}
    </configuration>
