apiVersion: v2
appVersion: "1.12.34"
description: A Helm chart for running ZaakBrug on Kubernetes
name: zaakbrug
icon: https://raw.githubusercontent.com/wearefrank/charts/master/charts/zaakbrug/icon.png
type: application
version: 2.0.2

dependencies:
  - name: ff-common
    version: ~0.1.13
    repository: https://ibissource.github.io/charts/
  - name: openzaak
    alias: staging
    version: 1.1.0
    repository: https://maykinmedia.github.io/charts/
    condition: staging.enabled